name: sklearn-env
image: mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu20.04

conda_file:
  channels:
    - conda-forge
  dependencies:
    - python=3.8
    - pip
    - pip:
        - scikit-learn
        - pandas