name: Azure ML Training Pipeline

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Azure ML CLI (Clean Install)
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az extension remove -n ml || true
            az extension add -n ml --yes
            az extension update -n ml
            az ml -h

      - name: Submit Azure ML Job
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az account show
            az configure --defaults group=pritish_rg workspace=Pritish_Workspace1
            az ml compute list
            az ml job create --file job.yml --stream

