name: Azure ML Training Pipeline

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install / Upgrade Azure ML CLI Extension
        run: |
          az extension remove -n ml || true
          az extension add -n ml --upgrade --yes
          az version
          az configure --defaults group=pritish_rg workspace=Pritish_Workspace1

      - name: Submit Azure ML Job
        run: |
          az ml job create --file job.yml



